<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>TAILWIND CRAFT TEMPLATE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="stylesheet" href="{{ siteUrl }}css/app.css">
</head>
<body>
    <div id="container">
        <div id="modal">
            <div id="main">
                <div class="content flex h-screen justify-center items-center">
                    <div class="max-w-sm w-full mx-auto bg-white border-2 border-aqua rounded-xl drop-shadow-xl overflow-hidden">
                        <div class="bg-aqua h-10 text-center p-2">
                            <h1 class="text-white">SebWebs</h1>
                        </div>
                        <div class="p-5">
                            <h2 class="text-center">TAILWIND CRAFT TEMPLATE</h2>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
